html {
  background-color: #d7c2c1;
}

h1 {
  color: #fa5b52;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Style for the logOutButton */
.logOutButton {
  margin-top: 2.5rem;
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to your liking */
  background-color: white; /* Button background color */
  color: black; /* Text color */
  text-decoration: none; /* Remove underlines from links */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */

  /* Optional: Add more styles for hover and focus states */
}

ul {
  margin-top: 5rem;

}

/* Hover state */
.logOutButton:hover {
  background-color: #f5c1c1; /* Darker background color on hover */
}

/* Style the form container */
.Stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}

.Center {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}
li  {
  width: auto;
  padding: 20px;
}

.Title {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}
.Author {
  font-size: 20px;
}
@media (max-width:768px) {
  li {
    width: 70%;
  }
}

/* Style the labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the input fields */
input[type="text"],
input[type="range"] {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

/* Style the rating input */
input[type="range"] {
  width: auto;
}

/* Style the button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Add hover effect to the button */
button:hover {
  background-color: #0056b3;
}

/* Add a book review form */
/* Mobile Styles */

.review-form {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .review-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    max-width: 400px;
  }

  .submit-button {
    width: auto;
  }
}
