/* Reset default body margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Background color for the body */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
}

/* Style the login container */
.login-container,
.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #dc6262;
}

/* Style the login and sign-up headings */
.login-heading,
.signup-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #dc6262;
}

/* Style the login and sign-up forms */
.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
}

/* Style form labels */
.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
.form-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the login and sign-up buttons */
.login-button,
.signup-button {
    background-color: #f5c1c1;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the login and sign-up buttons on hover */
.login-button:hover,
.signup-button:hover {
    background-color: #edb0b0;
}
